@use "../abstract/colors" as colors;
@use "../abstract/mixins" as mixins;

.wp-block-create-block-die-yield-calculator {
	.result-stats {
		@include mixins.larger-than-tablet {
			display: grid;
			grid-template-columns: 1fr 1fr;
		}
	}

	.result-stats__list {
		list-style: none;
		padding: 0;
		margin: 0;
	}

	.result-stats__result {
		display: flex;
		margin-bottom: 0.5em;
		gap: 0.75em;
		line-height: 1.6666;

		svg {
			transform: scale(0.9);
			flex-shrink: 0;
		}

		&--good-dies svg {
			stroke: colors.$color-die-good;
		}

		&--defective-dies svg {
			stroke: colors.$color-die-defective;
		}

		&--partial-dies svg {
			stroke: colors.$color-die-partial;
		}

		&--lost-dies svg {
			stroke: colors.$color-die-lost;
		}
	}
}
