/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-die-yield-calculator {
	$color-accent: #F7B041;

	&, * {
		box-sizing: border-box;
	}

	background-color: #1d1b1e;
	color: rgb(234, 235, 236);
	padding: 1em;
	font-family: Inter, sans-serif;

	.logo {
		margin-bottom: 1em;
		width: 120px;
	}

	.columns {
		display: grid;
		grid-template-columns: 1fr 1fr;
		column-gap: 2em;
	}

	.input {
		border-radius: 10px;
		padding: 32px;
		background-color: #141416;
	}

	.input-group {
		margin-bottom: 1em;

		label {
			display: block;
			font-size: .75em;
		}
		textarea,
		input {
			width: 100%;
			padding: 15px;
			background-color: transparent;
			border: 1px solid #656B72;
			border-radius: 10px;
			color: #B4B9BC;
			transition: border-color 0.2s ease-in-out;

			&:hover {
				border-color: #EAEBEC;
			}

			&:focus {
				border-color: $color-accent;
				outline: none;
			}
		}
	}

	.checkbox {
		margin-bottom: 1em;

		input[type="checkbox"] {
			margin-right: 1em;
		}
	}

	.wafer-canvas {
		border-top: 1px solid rgba(255, 255, 255, 0.5);
		border-bottom: 1px solid rgba(0, 0, 0, 0.5);
		background: linear-gradient(135deg,
			#b88ecb, /* Purple */
			#8eb4cd 25%, /* Blue */
			#a0c8c0 50%, /* Teal */
			#c6b394 75%, /* Orange/Gold */
			#c7908a 100% /* Pink/Red */
		);
		background-size: 400% 400%;
		//animation: gradientShift 10s ease infinite;

		@keyframes gradientShift {
			0% {
				background-position: 0% 50%;
			}
			50% {
				background-position: 100% 50%;
			}
			100% {
				background-position: 0% 50%;
			}
		}

		&.disc {
			border-radius: 100%;
			overflow: hidden;
		}
	}
}

