/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-die-yield-calculator {
	$color-accent: #F7B041;

	color: rgb(234, 235, 236);
	font-family: Inter, sans-serif;

	&, * {
		box-sizing: border-box;
	}

	h2 {
		font-weight: 800;
		line-height: 1.1;
		font-size: 1.1em;
		margin: 0 0 0.5em;
		color: inherit;
	}

	hr {
		height: 0;
		border: none;
		border-bottom: 1px solid #656b72;
		margin: 2em 0;
	}

	.logo {
		display: block;
		margin-left: auto;

		img {
			width: 120px;
		}
	}

	.columns {
		@media (min-width: 768px) {
			display: grid;
			grid-template-columns: 1fr 1fr;
			column-gap: 2em;
		}
	}

	.panel {
		@media (min-width: 768px) {
			border-radius: 10px;
			padding: 32px;
			background-color: #141416;
		}
	}

	label,
	legend {
		display: block;
		cursor: pointer;

		&.disabled {
			color: #B4B9BC;
		}
	}

	.output {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		text-align: center;
	}

	.calculations {
		text-align: left;
	}

	.input-row,
	.input-row--two-col {
		margin-bottom: 1rem;
		font-size: .75em;

		&--two-col {
			display: grid;
			grid-template-columns: 1fr 1fr;
			column-gap: 1em;
			align-items: center;
		}
	}

	input[type="text"],
	input[type="number"],
	select,
	textarea,
	input[type="checkbox"],
	input[type="radio"] {
		background-color: transparent;
		border: 1px solid #656B72;
		color: inherit;
		transition: border-color 0.2s ease-in-out;

		&:hover {
			border-color: #EAEBEC;
		}

		&:focus {
			border-color: $color-accent;
			outline: none;
		}

		&:disabled {
			cursor: not-allowed;
			border-color: #3e3e41;
			color: #B4B9BC;
		}
	}

	input[type="text"],
	input[type="number"],
	select,
	textarea {
		margin: 0;
		width: 100%;
		padding: 15px;
		border-radius: 10px;
	}

	select {
		border-radius: 14px;
		cursor: pointer;
		appearance: none;
		background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pgo8IS0tIFVwbG9hZGVkIHRvOiBTVkcgUmVwbywgd3d3LnN2Z3JlcG8uY29tLCBHZW5lcmF0b3I6IFNWRyBSZXBvIE1peGVyIFRvb2xzIC0tPgo8c3ZnIGZpbGw9IiMwMDAwMDAiIGhlaWdodD0iODAwcHgiIHdpZHRoPSI4MDBweCIgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgCgkgdmlld0JveD0iMCAwIDM4Ni4yNTcgMzg2LjI1NyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+Cjxwb2x5Z29uIHBvaW50cz0iMCw5Ni44NzkgMTkzLjEyOSwyODkuMzc5IDM4Ni4yNTcsOTYuODc5ICIgZmlsbD0iI0VBRUJFQyIvPgo8L3N2Zz4= ");
		background-position: right 15px center;
		background-repeat: no-repeat;
		background-size: 0.75em;
	}

	input[type="checkbox"],
	input[type="radio"] {
		cursor: pointer;
		margin: 0 0.5em 0 0;
		appearance: none;
		-webkit-appearance: none;
		width: 1.5em;
		height: 1.5em;
		cursor: pointer;
		outline: none;
		display: inline-block;
		position: relative;

		&::before {
			content: '';
			opacity: 0;
			transition: opacity ease-out 0.1s;
		}

		&:checked::before {
			opacity: 1;
		}
	}

	input[type="checkbox"] {
		border-radius: 4px;

		&::before {
			background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij4KICA8cGF0aCBkPSJNMjAuMjg1IDJsLTExLjI4NSAxMS41NjctNS4yODYtNS4wMTEtMy43MTQgMy43MTYgOSA4LjcyOCAxNS0xNS4yODV6IiBmaWxsPSIjRjdCMDQxIiAvPgo8L3N2Zz4=");
			background-size: 75%;
			background-position: center;
			background-repeat: no-repeat;
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
		}

	}

	input[type="radio"] {
		border-radius: 100%;

		&::before {
			width: 50%;
			height: 50%;
			background-color: #F7B041;
			border-radius: 50%;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}

	.checkbox {
		margin-bottom: 1em;

		label {
			display: flex;
			align-items: center;
		}

		input[type="checkbox"] {
			margin-right: 1em;
		}
	}

	.wafer-canvas {
		display: inline-block;
		margin-bottom: 2em;
		border-top: 1px solid rgba(255, 255, 255, 0.5);
		border-bottom: 1px solid rgba(0, 0, 0, 0.5);
		box-shadow: 0.25em 0.5em 1.5em black;
		background: linear-gradient(135deg,
			#b88ecb, /* Purple */
			#8eb4cd 25%, /* Blue */
			#a0c8c0 50%, /* Teal */
			#c6b394 75%, /* Orange/Gold */
			#c7908a 100% /* Pink/Red */
		);
		background-size: 400% 400%;
		//animation: gradientShift 10s ease infinite;

		@keyframes gradientShift {
			0% {
				background-position: 0% 50%;
			}
			50% {
				background-position: 100% 50%;
			}
			100% {
				background-position: 0% 50%;
			}
		}

		&.disc {
			border-radius: 100%;
			overflow: hidden;
		}

		canvas {
			max-width: 100%;
			height: 100%;
			display: block;
		}

		.too-many-dies {
			position: relative;

			span {
				display: block;
				position: absolute;
				width: 100%;
				top: 50%;
				text-align: center;
				transform: translateY(-50%);
				line-height: 1;
				color: rgba(0,0,0,0.5);
				text-shadow: 0 1px #ffffff2e;
			}
		}
	}

	fieldset {
		padding: 0;
		border: 0;
	}

	.radio-group {
		margin: 1em 0;
		display: flex;
		align-items: center;

	}

	.radio-item {
		display: flex;
		align-items: center;
		line-height: 1;
		margin: 0 1em 0 0;
	}
}

